.userRow td {
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;
  gap: 10px; /* espacio entre botones */
}

a{

    margin-top: 0px;

}

.btnDetalle,
.btnDesactivar,
.btnActivar {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 24px;
  margin-right: 30px;
  margin-left: 30px;
  transition: background-color 0.2s ease, color 0.2s ease;

}

.btnDetalle {
  background-color: #a83f3f;
  color: white;
}

.btnDetalle:hover {
  background-color: #d35c5c;
}

.btnDesactivar {
  background-color: #a83f3f;
  color: white;
}

.btnDesactivar:hover {
  background-color: #e96a6a;
}

.btnActivar {
  background-color: #4caf50;
  color: white;
}

.btnActivar:hover {
  background-color: #66bb6a;
}