.cart {
  font-family: 'Pokemon Solid', sans-serif;
  text-align: left;
  height : 90%;
  color: #FFCC00;
  font-size: 200%;
  -webkit-text-stroke: 1.5px #3B4CCA;
  letter-spacing: 10px;
  text-align :center;
}

.hover {
  border: 3px dashed green;
}
