.orderSummary {
  flex: 1 1 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Pokemon Solid', sans-serif;
  text-align :center;
}

.itemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.totals {
  margin-top: 10px;
}

.total {
  font-weight: bold;
}

.payButton {
  font-family: 'Pokemon Solid', sans-serif;
  height : 15%;
  color: #FFCC00;
  font-size: 200%;
  -webkit-text-stroke: 2px #3B4CCA;
  letter-spacing: 10px;
  background-color: #b7bde7;
  width: 50%;
  margin-left: 25%;
  border-radius:50px;
}

.payButton:hover {
  background-color: #68b6ce;
}
