.container {
  min-height: 220vh; /* asegura que al menos ocupe toda la altura de la pantalla */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: 
    linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
    url('../assets/fondoPoke.jpg') center center / cover no-repeat;
  filter: brightness(1.1);
  background-repeat: repeat;
}

.titulo {
  font-family: 'Pokemon Solid', sans-serif;
  text-align: left;
  height : 10%;
  color: #FFCC00;
  font-size: 400%;
  -webkit-text-stroke: 3px #3B4CCA;
  letter-spacing: 10px;
  text-align :left;
  padding-left: 3%
}

.cuerpo {
  width: 80%;
  margin: 0 auto; /* centra horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 100%;
  margin-bottom: 5%;


   border-radius: 10px ;
   background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
