.recover-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.recover-background {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("../assets/fondoPoke.jpg") center center / cover no-repeat;
  filter: brightness(1.1);
}

.recover-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-button {
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  display: block;
}

.back-button:hover {
  background: #e55b3e;
  color: white;
}

.submitButton {
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  display: block;
}

.submitButton:hover {
  background: #e55b3e;
  color: white;
} 